@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --elem-bg-color: #fdf7c3;
  --text-color: #b2a4ff;
}

html {
  font-size: 32px;
}

body {
  margin: 0;
  font-family: "Instrument Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
