.Score-Holder {
  color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
  width: 250px;
  font-size: 1.5rem;
  background-color: var(--elem-bg-color);
  justify-self: end;
}

.Score-Holder + .Score-Holder {
  justify-self: start;
}
